body {
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3 {
  color: #4CAF50; /* mocniejsza zieleń dla kontrastu */
}

nav {
  background-color: #8B9474;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background-color: #8BBD8B;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #F5A65B;
}

form input, form textarea, form select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #FFFFFF;
  border: 1px solid #A8E6CF;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
